{% extends "master.html" %}


{% block title %}
  OTS-Registration Form
{% endblock title %}

{% block menu %}
 <a href="{% url 'OTS:login'%}">Login</a>
{% endblock menu %}

{% block content %}
<div class="reg-form">
    <form action="{% url 'OTS:storeCandidate'%}" method="post">
        {% csrf_token %}
        {% for field in fm %}
        <div>
            {{field.label_tag}}
        </div>
        <div>
            {{field}}
        </div>
        {% endfor %}
        <div>
            <br>
            <input type="submit" value="Register" class="button">
            <input type="reset" value="Reset" class="button">
        </div> 
    </form>
    Already have an account <a href="{% url 'OTS:login'%}">Click here</a>
</div>
{% endblock content %}