{% extends "master.html" %}

{% block title %}
  Online Testing System
{% endblock title %}

{% block menu %}
    <a href="{% url 'OTS:home'%}">Candidate Home</a>
    <br>
    <a href="{% url 'OTS:login' %}">Logout</a>
{% endblock menu %}

{% block content %}
<p>Test History</p>
<h3>Hi, {{candidate.username}},you have scored {{candidate.points}} in {{candidate.test_attempted}} attempts</h3>
<table border>
    <thead>
        <tr>
            <th colspan="6">RESULT</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Attempt</th>
            <th>Right</th>
            <th>Wrong</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
        <tr>
            <td>{{r.date}}</td>
            <td>{{r.time}}</td>
            <td>{{r.attempt}}</td>
            <td>{{r.right}}</td>
            <td>{{r.wrong}}</td>
            <td>{{r.points}}</td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>
{% endblock content %}