{% extends "master.html" %}

{% block title %}
  Online Testing System
{% endblock title %}

{% block menu %}
    <a href="{% url 'OTS:home'%}">Candidate Home</a>
    <a href="{% url 'OTS:login' %}">Logout</a>
{% endblock menu %}

{% block content %}
<div class="inner-content">
    <h3>Test History</h3>
    <p>Hi, <span class="special">{{candidate.username}}</span>,you have attempted in total <span class="special">{{candidate.test_attempted}}</span> attempts and you have scored <span class="special">{{candidate.points}}</span> points on the scale of 10</p>
</div>
<table>
    <thead>
        <tr>
            <th colspan="6">RESULT</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Attempt</th>
            <th>Right</th>
            <th>Wrong</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
        <tr>
            <td>{{r.date}}</td>
            <td>{{r.time}}</td>
            <td>{{r.attempt}}</td>
            <td>{{r.right}}</td>
            <td>{{r.wrong}}</td>
            <td>{{r.points}}</td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>
{% endblock content %}